body {
    background: black;
    color: white;
    font-size: 10pt;
    font-family: sans-serif;
    margin: 0;
    padding: 0 7%;
    width: 100%;
    height: 100%; 
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.clear { clear: both; }

img { border: 2;
      bordercolor="#ff0000";}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: serif;
    color: white;
    font-size: 1.8em;
}
h2 {
    margin-top: 2.5em;
    font-size: 1.7em;
    text-decoration: underline;
}
h3 {
    margin-top: 2em;
    font-size: 1.3em;
    text-decoration: underline;
}
p {
    line-height: 150%;
    text-align: justify;
}
pre {
    font-family: sans-serif;
    background: #222;
}
.simpleBlack {
    background: black;
    width: 80ex;
    margin: 0 auto;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    font-size: 0.9em;
    line-height: 150%;
}

dl {
    margin-left: 4ex;
}

    dl dt {
        font-size: 0.9em;
        font-weight: bold;
        color: #eee;
        font-family: monospace;
    }
        dl dd {
            margin-bottom: 1.5em;
            color: #ccc;
            font-size: 0.85em;
            line-height: 1.5em;
        }


ol {
}
    ol li {
        margin-bottom: 1em;
        line-height: 150%;
    }

ul {
}
    ul li {
        margin-bottom: 0;
    }
/* ------------------------------------------------------------------------- */

#title {
    margin: 0px auto;
}

#sponsor {
    position: absolute;
    right: 7%;
    font-size: 10px;
    height: 66px;
    line-height: 66px;
    padding: 0 20px;
}

div.maincontent {
    margin: 0px auto 20pt auto;
    height: 100%;
    width: 100%;
}

#menu {
    display: block;
    text-align: center;
    background: #222;
    padding: 1em;
    margin: 2em auto 4em auto;
}

    #menu li {
        display: inline;
        padding: 0px 20px;
    }

.totop {
    text-align: center;
    margin: 4em 10%;
    padding: 0.25em;
    background: #161616;
}
    .totop a {
        margin-right: 7%;
        color: silver;
    }


.block {
    display: none;
}


#browserComp {
    border-collapse: collapse;
    margin: 40px auto;
}
    #browserComp caption {
        text-align: center;
        margin: 20px auto;
        font-size: 1.1em;
        font-weight: bold;
    }
    #browserComp th {
        font-size: 10px;
        padding: 5px 10px;
        border-bottom: 1px solid silver;
    }
        #browserComp th img {
            width: 22px;
        }
        #browserComp td {
            text-align: center;
        }
            #browserComp th.feature,
            #browserComp td.feature {
                text-align: right;
                padding: 5px;
                padding-right: 10px;
                border-right: 1px solid silver;
            }

.addon {
    border: 1px solid #222;
    padding: 20px;
    margin-bottom: 20px;
    background: #222;
}
    .addon .flowBox {
        width: 500px;
        margin-right: 40px;
        float: left;
    }
    .addon .discription {
        margin-left: 540px;
    }
        .addon .title {
                line-height: 1.3em;
        }
            .addon .title h3 {
                margin: 0;
                display: inline;
            }
            .addon .title .by {
                margin-left: 2em;
                font-size: 0.8em;
                text-decoration: none;
            }
        .addon p {
            font-size: 0.9em;
        }
        .addon .comment {
            margin-top: 2em;
            font-style: italic;
        }
        .addon .download {
            font-size: 0.8em;
            float: right;
            margin: 0 0 2em 4em;
            line-height: 1.5em;
        }
            .addon .download a {
                font-weight: normal;
            }

#info { /* for example.php */
    color: white;
    /*display: none;*/
}

