    
    div#strutsButtons {
    	position: relative;
    	float: left;
    /*	
    	top:	-3.5em;
    */
    	
    }
    
    div#strutsButtons ul {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#strutsButtons li {
        float: left;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1em;
     /* border-right: 1px solid; */
    }
    div#strutsButtons-1 ul {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#strutsButtons-1 li {
        float: left;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1em;
        width: 20%
     /* border-right: 1px solid; */
    }

    div#strutsButtons-2 ul {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#strutsButtons-2 li {
        float: left;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1em;
        width: 24%
     /* border-right: 1px solid; */
    }

	.vistaButton-orig {
        /*  float: left; */
    	border: none;
    	background: url(../images/buttonVista.png) scroll no-repeat;
    	background-position: center center;
    	height: 30px;
    	width:	120px;
    	
    	color: #FFFFFF;
    	font-size: 1em;
    	cursor: pointer;
    } /* mine - not used */

/*
 * Common buttons styles
 */
.vistaButton, .vistaButton-2, .vistaButton-3, .vistaButton-4 {
	height: 25px;
	vertical-align: middle;

	font-weight: bold;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #5E6A71;
}
    
.vistaButton {
   	width: 208px;
}

.vistaButton-2 {
   	width: 100%;
}

.vistaButton-3 {
   	width: 208px;
	font-size: 12px;
	text-align: left;
}

.vistaButton-4 {
	width: 100px;
	font-size: 12px;
	text-align: center;
}


/*
 * workItemList.jsp
 */
.actionButton {
	color: #FFFFFF;
	background-color: #5E6A71;
	height: 25px;
	vertical-align: middle;
   	width: 100%;
	border: 1px solid #5E6A71;
	font-weight: bold;
}
.actionButton2 {
	color: #FFFFFF;
	background-color: #5E6A71;
	height: 25px;
	vertical-align: middle;
	border: 1px solid #5E6A71;
	font-weight: bold;
}
