.dialogTitle { /* customizable */
    background-color: #6E2C6B;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #6E2C6B;
}

.dialogContent {
    background-color: #f8f8f8;
    border: 2px solid #e8e8e8;
    border-top: none;
    font-weight: bold;
    padding: 8px;
    width: expression( document.body.clientWidth > 380 ? "380px" : "auto" ); /* IE6 hack */
    max-width: 380px;
}