/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS */
	form {
		margin:0;
		padding:0;
	}
	form div,
	form p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;
	}
	label {
		font-weight: bold;
		padding-left: 5px; /* customized - added */
	}
	fieldset {
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 0 0 1.5em 0;
	}
	fieldset legend {
		color: #666;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 0;
		background-color: white;
	}
	* html fieldset legend {
		margin: 0 0 10px -10px;
	}
	fieldset ul {
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	fieldset ul li {
		list-style: none;
		margin: 0 0 0.5em 0;
		padding: 0;
	}


	input, select, textarea {
		color: #5E6A71;
		font-size: 12px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

        margin: 0;
		padding: 2px;
	}

	input, select {
		vertical-align: middle;	
	}

 	select {
		background-color: #FFFFFF;
		
		text-align: left;
		vertical-align: middle;
		border: 1px solid #5E6A71;
	   	width: 210px;
		padding: 0px;
	}

	textarea {
		width: 200px;
		height: 8em;
	}

	input[type="text"], select, textarea {
		border: 1px solid #5E6A71;
	}

	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}
	input.button {
		width: 10em;
		border:1px solid black;
		background-color: #ddd;
	}
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
    form div.submit {
		margin: 1em 0;
	}
    form div.submit input {
		height: 2em;
        width: 15em;
	}
/* END FORM ELEMENTS */

/* CUSTOM FORM ELEMENTS */
	/* For Struts 2 CSS XHTML FORM ELEMENTS */
	div.wwlbl /* labels */ { /* customized */
	}
	label.label /* labels */ { /* customized */
		font-weight: bold;
		font-style: normal;
	}
	div.wwctrl /* controls */ { /* customized */
		font-style: normal;
	}
	/* END Struts 2 CSS XHTML FORM ELEMENTS */
/* END CUSTOM FORM ELEMENTS */

/* PAGE/FORM ELEMENTS */
div#pageHeader {
	margin-bottom: 1em;
	font-size: 16px;
	font-weight: bold;
}

.calendarContainer,.calendarBodyContainer,.monthContainer {
	margin-bottom: 0px;
}
/* END PAGE/FORM ELEMENTS */