/* HEADER */
	div#branding {
		position: absolute;
		left: -1px;
		width: 90%;
		/*width: 78.5%;*/
		margin: 0;
		padding-top: 5px;
		height: 50px;
		
		text-align: left;
		background-color: white;
		font-size: 76%;
		
	}

	/*h1#logo {
		padding: 1em;
		margin: 0;
		height: 30px;
	
	}*/
	
	div#applicationDetail {
		position: relative;
		float: right;
		top: -2px;
		padding-top: 0.5em;
		height: 55px;

		background-color : #6E2C6B;
		text-align: right;
	}

	div#curve {
		position: relative;
		float: right;
		top: -2px;		
		right: -1px;
		text-align: left;
	}

	img#curve {
		height: 57px;
		background-color: transparent;
	}

/* END HEADER */

/* APPLICATION DETAILS */
    #productName, #userDetail, #mainLinks {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    #userDetail, #mainLinks {
        padding: 1px;
        margin: 1px;
    }
    #productName li, #userDetail li, #mainLinks li {
        display: inline;
        margin-left: 10px;
        background: none;
    }
    #userDetail li, #mainLinks li { /* mine - added */
    	font-size: 13px;
    }
	#productName li {
        font-weight: bold;
        font-size: 13px; /* mine - added */
	}
    #mainLinks li {
        margin-left: 2px;
    }
    #mainLinks li a,
    #mainLinks li a:link,
    #mainLinks li a:visited,
    #mainLinks li a:active {
        color: white;
        margin: 1px;
    }
    
/* END APPLICATION DETAILS */