/* A CSS Framework by Mike Stenhouse of Content with Style */

/* import url("nav-horizontal.css"); */ /* customized - removed */
 
/* NO NAV BAR and ONE COLUMN OF CONTENT */
    div#content {
        position: relative;
    	width: 100%;

        margin: 0 auto; /* customized */
        padding: 0;

        text-align: left;
    }
    div#main {
        width: 100%;
    }
    div#local {
        display: none;
    }
    div#sub {
        display: none;
    }
    div#nav {
        display: none;
    }
    div#extra1, div#extra2 { /* customized - added */
    	display:none;
    }
/* END CONTENT */