/* A CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
        background: white;
        text-align: center;
        font: Verdana, Geneva, Arial, Helvetica, sans-serif;
    }

    div#page {
        width: 100%; /* customized */
        margin: 0 auto;
        padding: 0;
        background: white;
        text-align: center;
    }

/* HEADER */
    div#header {
        margin: 0; /* customized */
        padding: 0 2.5em 1.5em 0;
        height: 48px; /* addition */
        color: white;
        text-align: left;
		background: #6E2C6B;
    }

    /* div#search {
        float: right;
        width: 49%;
        
        margin: 0;
        padding: 16px 20px 0 0;
        
        text-align: right;
    } */ /* customized - not used */
/* END HEADER */
    
/* CONTENT */
	div#content {
		padding-top: 2em;
	    background: #FFF url(../../images/background.gif) -3px left repeat-x;
	}

	/* MAIN */
    div#main {
    }
	/* END MAIN */

	/* SUB */
    div#sub {
    }
	/* END SUB */

/* END CONTENT */

/* FOOTER */
    /* div#footer {
        color: white;
        background-color: #e7ecf5;
        background-image: url(../images/footerbar.jpg);
        background-repeat: repeat-x;

        height: 40px;
        display: none;
    } */ /* mine - changed as below */
    div#footer {
    	color: white;
    	background-color: black;
    	display: none;
    }

    div#footer p {
        font-size: 0.8em;
        
        margin: 0;
        padding: 15px;
    }
/* END FOOTER */

/* END LAYOUT */

