/*
   Css Framework 
   =============
   	 - see http://www.contentwithstyle.co.uk/Articles/17/a-css-framework
   	   for more info.
*/
@import url("tools.css");
@import url("typo.css");
@import url("forms.css");
/* 
  Swap layout stylesheet: 
	layout-navtop-localleft.css
	layout-navtop-subright.css
	layout-navtop-3col.css
	layout-navtop-1col.css
	layout-navleft-1col.css
	layout-navleft-2col.css
	layout-1col.css
*/
@import url("layout-1col.css");
@import url("layout.css");

/*@import url("table-layout.css"); customized - added */
@import url("buttons.css"); /* customized - added */

/*
changes for the nav spacer fix

layout.css
-- changed
  --div#header	
	--from  margin: 0 0 5em 0;
	--to    margin: 0 0 1em 0;




{
//navtop layouts 
layout-navtop-1col.css,
layout-navtop-localleft.css, 
layout-navtop-3col.css,
layout-navtop-subright.css }
--changed
  -- div#content 
	--from   margin: 0 auto 20px auto;
	--to	 margin: 5em auto 20px auto;


*/        
/*
 check resource/xslt/html-form-controls for some hard coded style of UI controls
*/