.messageDialogDiv {
	padding: 5px;
	margin-top: 15px;
}

.messageDialogIcon, .messageIcon {
	width: 16px;
	height: 13px;
	margin-right: 10px;
}

.messageDialogBtn {
	width:75px;
}

.messageTbl {
	border-collapse: collapse;
	border: 0px;
	display: block;
}

.messageTblHidden {
	display: none;
}

.dialogBtn {
	width: 75px;
}

.dialogContent {
	display: block;
}