/* A CSS Framework by Mike Stenhouse of Content with Style */
	/* CSS by Albert Dy for Display Tags tables*/
table.dataTable {
	margin: 2em 0em 0em 0em;
	position: relative;
	padding-bottom: 15px;
	width: 100%;
	clear: right;
}

table.dataTable td {
	padding: 2px 5px;
	height: 21px;
	vertical-align: top;
	align: center;
}

table.padded td {
	padding: 5px;
	
}

span.pagebanner {
	display: none;
	/*
		position:	relative;
		top:		-5px;
		left:		30px;
		*/
}

span.pagelinks {
   
   float: left;
}

.dataTable th, .dataTable td {
	padding-left: 0.5em;
	padding-right: 0.9em;
	
}

.dataTable th.selector,.dataTable td.selector {
	text-align:center;
	padding: 0 0.5em;
	
}

th.sortable, th.sortable a,th.sortable a:link,th.sortable a:active,th.sortable a:visited
{
	background-color: #6E2C6B;
	border: 1px solid #6E2C6B; 
	color : #FFFFFF;
	line-height: 1.5em;
	text-decoration: none;
}

th.sortable {
	background-position: 95% center;
	background-repeat: no-repeat;
}

th.sortable a{
	padding-right: .5em;
	margin: 3;
	border: 0;
	display: block;
	margin-top:3px;
	width: 100%;
}

th.order1 a {
	background: url("../../images/table/arrow_up.png") #6E2C6B 100%;
	background-repeat: no-repeat;
}

th.order2 a {
	background:url("../../images/table/arrow_down.png") #6E2C6B 100%;
	background-repeat: no-repeat;
}

tr.odd,tr.odd a,tr.odd a:link,tr.odd a:active,tr.odd a:visited {
	background: #DCDCDC;
	color: #5E6A71;
	text-decoration: none;
}

tr.even,tr.even a,tr.even a:link,tr.even a:active,tr.even a:visited {
	background: #F8F8F8;
	color: #5E6A71;
	text-decoration: none;
}