/*
 * Default css theme. Can be reuse also as template for creating new theme.
 */

/*
 * GLOBAL styles - styles that will be applied all throughout the pages, given style selector
 * is not overriden by a higher priority selector
 * See layout.css, form.css typo.css
 */
body {
	/* ---- default style
	color: #5E6A71;
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
	*/
}

label {
	/* ---- default style
	font-weight: bold;
	*/
}

input, select, textarea {
	/* ---- default style
	color: #5E6A71;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	*/
}

/*
 * HEADER
 */
div#header {
	background: #6E2C6B;
}

div#header h1#logo {
	/* ---- default style
	background: transparent url(../../images/header/logo.JPG) center left no-repeat;
	*/
}

div#header div#applicationDetail {
	background-color : #6E2C6B;
	color: #A9A9A9;
}

div#header div#applicationDetail #userDetail li,
div#header div#applicationDetail #mainLinks li {
	/* ---- default style
	font-size: 12px;
	*/
}

div#header div#applicationDetail #productName li {
	/* ---- default style
    font-size: 13px;
    */
}
div#header div#applicationDetail #mainLinks li a,
div#header div#applicationDetail #mainLinks li a:link,
div#header div#applicationDetail #mainLinks li a:visited,
div#header div#applicationDetail #mainLinks li a:active {
    color: white;
}

/*
 * CONTENT
 */
div#main div#pageHeader {
	/* ---- default style
	font-size: 16px;
	font-weight: bold;
	*/
}

/*
 * LOGIN PAGE
 */
form#login_login select#login_login_domainName {
}

form#login_login input.inputtext {
}

form#login_login tr.vistaButton-3, form#login_login div.vistaButton-3, form#login_login input#btnLogin {
}

form#login_login tr.vistaButton-3 label, form#login_login div.vistaButton-3 label {
}

/*
 * WORK ITEM LIST PAGE
 */
 
div#workItemActions input.actionButton {
	/* ---- default style
	color: #FFFFFF;
	background-color: #5E6A71;
	height: 25px;
	vertical-align: middle;
   	width: 100%;
	font-weight: bold;
	*/
}

/*
 * BUTTONS
 */
input.vistaButton, input.vistaButton-2, input.vistaButton-3,
button.vistaButton, button.vistaButton-2, button.vistaButton-3 {
	/* ---- default style
	height: 25px;

	font-weight: bold;
	color: #FFFFFF;
	background-color: #5E6A71;
	*/
}

/*
 * DATA TABLES
 */
div#main th.sortable, div#main th.sortable a, div#main th.sortable a:link, div#main th.sortable a:active, div#main th.sortable a:visited {
	background-color: #6E2C6B;
	border-color: #6E2C6B;
	color: #A9A9A9;
}

div#main th.order1, div#main th.order1 a {
	background-color: #6E2C6B;
}

div#main th.order2, div#main th.order2 a {
	background-color: #6E2C6B;
}

tr.odd,tr.odd a,tr.odd a:link,tr.odd a:active,tr.odd a:visited {
	/* ---- default style
	background: #DCDCDC;
	color: #5E6A71;
	*/
}

tr.even,tr.even a,tr.even a:link,tr.even a:active,tr.even a:visited {
	/* ---- default style
	background: #F8F8F8;
	color: #5E6A71;
	*/
}

/*
 * DIALOG
 */
div.dialogTitle {
    background-color: #6E2C6B;
    border-color: #6E2C6B;
    color: #A9A9A9;
}

div.commentDialogContent {
	/* ---- default style
	background-color: #f8f8f8;
    border: 2px solid #e8e8e8;
    */
}

/*
 * XFORM
 */

div#main fieldset {
	background-color: transparent;
	border: 1px solid #e8e8e8;
}

div#main fieldset legend {
	background-color: transparent;
	border: none;
	font-size: 1.1em;
	font-style: italic;
}

span.required-symbol {
	font-size: 0.9em;
}

span#legend {
	font-size: 0.9em;
	font-style: italic;
	line-height: 1.5em;
	display: block;
	margin-top: 5px;
}

/* symbol and description for required field*/
span#legend span#required-msg {
	
}

/* symbol for required field */
span#legend span#required-msg span {
	
}

/* symbol for help */
span#legend b {
	color: white;
	font-size: 1.5em;
	background: url(../resources/images/help_icon.gif) no-repeat center left;
}