#deliveryPreviewContents {
    font-family: Arial, Tahoma, Verdana;
    font-size: 0.9em;
    height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); /* IE6 hack */
    max-height: 290px;
    overflow: auto;
}

#deliveryPreviewContents td.tdLabel label {
    display: block;
    width: 42px;
    text-align: right;
    margin-top: 5px;
}

#deliveryPreviewContents label.sectionLabel {
    display: block;
    width: 180px;
    margin-bottom: 12px;
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #cccccc;
}

#deliveryPreviewContents input, #deliveryPreviewContents textarea, #deliveryPreviewContents select {
    border: 1px solid #e9e9e9;
    background: transparent;
    overflow: hidden;
    font-family: Arial, Tahoma, Verdana;
    font-size: 0.9em;
    width: 180px;
}