div#buttonPane { 
    text-align: center;
}

#deliveryData {
    text-align: left;
    height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); /* IE6 hack */
    max-height: 320px;
    width: expression( document.body.clientWidth > 380 ? "380px" : "auto" ); /* IE6 hack */
    max-width: 380px;
    overflow: auto;
}

#deliveryData td.tdLabel label {
    display: block;
    width: 90px;
    text-align: left;
    margin-top: 5px;
    border: 1px solid #5E6A71;
}

#deliveryData label.sectionLabel {
    display: block;
    margin-bottom: 12px;
    text-align: left;
    border-bottom: 2px solid #cccccc;
	font-weight: bold;
    /* font-size: 0; */
}

#deliveryData td.label, #deliveryData td.tdLabel {
    width: 95px;
    text-align: left;
    padding-top: 8px;
    vertical-align: top;
    
}

#deliverydata td, td div {
    margin: 0;
    padding: 0;
}

#deliveryData .deliveryInput {
    width: 210px;
    align: right;
    font-weight: normal;
    border:1px solid #5E6A71;
}

.cssDeliveryDialogTextArea {
    width: 210px;
}

img#infoIcon {
	width: 15px;
	height: 12px;
}

div.confirmButtons {
	padding-top: 10px;
}

/* ------------------------------------
 editor
 --------------------------------------*/

.confirmButtons .vistaButton-2 {
    text-align: center;
    width: 75px;
}