#deliveryDetails #deliveryDetailsButtons {
    margin-top: 10px;
    width: 100%;
}

#deliveryData {
    text-align: left;
    height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); /* IE6 hack */
    max-height: 320px;
    width: expression( document.body.clientWidth > 380 ? "380px" : "auto" ); /* IE6 hack */
    max-width: 380px;
    overflow: auto;
}

#deliverydata td,td div {
    margin: 0;
    padding: 0;
}

/*.cssDeliveryDialog {
    width: 100%;
}*/

#deliveryDetails .cssDeliveryDialog img {
	width:15px;
	height:12px;
}