/* -------------
   Header
 ---------------*/
div#page div#header {
	background: #5E6A71 url(../images/pbbi-soln.gif) 15px center no-repeat;
}

div#page div#footer {
    background: #FFB612 none no-repeat;
    height: 15px;
}

div#header h1#logo {
	background: url(../images/e1-inv2.gif) no-repeat 50px center;
	/*width: 272px;*/
	width: 322px;
    height: 59px;
}

div#header ul#productName li {
	
}

div#header ul#userDetail {
}

div#header ul#mainLinks li a,
div#header ul#mainLinks li a:link,
div#header ul#mainLinks li a:visited,
div#header ul#mainLinks li a:active {
    color: white;
    background: none
}

div#header ul#mainLinks li a:hover {
    text-decoration: underline;
}

/* -------------
   Login
 ---------------*/
 
form#login_login input.inputtext {
	border-color: #FFB612;
}

form#login_login tr.vistaButton-3, form#login_login div.vistaButton-3, form#login_login input#btnLogin {
	background-color: #5E6A71;
	color: #FFFFFF;
}

form#login_login tr.vistaButton-3 label, form#login_login div.vistaButton-3 label {
	padding-top: 4px;
}

form#login_login div.vistaButton-3 {
    border: 1px solid #5E6A71;
}

form#login_login select#login_login_domainName {
	border: 1px solid #FFB612;
}

/* -------------
   Workitem List
 ---------------*/
 
div#main h1 {
	color: #5E6A71;
}

div#workItemActions input.actionButton {
	background-color: #5E6A71;
    color: #FFFFFF;
}

/* -------------
   Data Tables
 ---------------*/

div#main th.sortable, div#main th.sortable a, div#main th.sortable a:link, div#main th.sortable a:active, div#main th.sortable a:visited {
    background-color: #FFB612; 
    color : #5E6A71;
}

div#main th.order1, div#main th.order1 a {
    background: url("../images/table/up.png")  #FFB612 95%; 
    background-repeat: no-repeat;
}

div#main th.order2, div#main th.order2 a {
    background:url("../images/table/down.png")  #FFB612 95%; 
    background-repeat: no-repeat;
}

tr.odd,tr.odd a,tr.odd a:link,tr.odd a:active,tr.odd a:visited {
	background: #E8E8E8;
    color: #000000;
    text-decoration: none;
}

tr.even,tr.even a,tr.even a:link,tr.even a:active,tr.even a:visited {
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
}

/* -------------
   Dialogs
 ---------------*/
div.dialogTitle {
	background-color: #FFB612;
	border-color: #FFB612;
    color : #5E6A71;
}

div.commentDialogContent {
	
}

/* -------------
   form elements
 ---------------*/
input.vistaButton, input.vistaButton-2, button.vistaButton-2 {
	background-color: #5E6A71;
}

/* -------------
  xform elements
 ---------------*/

div#main fieldset {
	background-color: transparent;
	border: 1px solid #e8e8e8;
}

div#main fieldset legend {
	background-color: transparent;
	border: none;
	font-size: 1.1em;
	font-style: italic;
}

span.required-symbol {
	font-size: 0.9em;
}

span#legend {
	font-size: 0.9em;
	font-style: italic;
	line-height: 1.5em;
	display: block;
	margin-top: 5px;
}

/* symbol and description for required field*/
span#legend span#required-msg {
	
}

/* symbol for required field */
span#legend span#required-msg span {
	
}

/* symbol for help */
span#legend b {
	margin-left: 5px;
	color: white;
	padding-left: 12px;
	font-size: 1.5em;
	background: url(../resources/images/help_icon.gif) no-repeat center left;
}