/* tooltip */
div.dojoTooltip {
	background-color: #ffffcc;
	padding: 10px;
	text-align: left;
}

#editorForm, #workItemForm {
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
}

.vistaButton-2 {
	width: 130px;
	text-align: center;
}

/* ActiveX */
object#ipe {
	height: 85.9%;
}

/*
.cssDialogIcon {
	float: left;
	text-align: center;
	vertical-align: middle;
}
*/

div#content {
	padding-top: 0.2em;
}