.commentDialogContent {
    width: 400px;
}

.cssExitDataPushDialog {
    width: 400px;
}

div#exitDataPushDialog div#exitDataPushDialogInputs { width: 400px; }
div#exitDataPushDialog div#confirmButtons input { width: 75px; }

div#confirmButtons .vistaButton-2 { 
    text-align: center;
}
