#leftHeader {
	z-index : 0;
	padding-bottom:.55%;
	padding-top:.45%;
	background-color : white;
}

#rightHeader {
	position : relative;
	float: right;
	z-index : 2;
	border:0;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 1%;
	background-color : #6E2C6B;
	color : white;
	text-align: right;
	font-family: Verdana;
	width: 180;
	nowrap: true;
	line-height: 12pt;
}

#curve {
	position : relative;
	float : right;
	z-index : 2;
	background-color : transparent;
}

#pageTitle {
	color : white;
	text-align: right;
	font-family: Verdana;
	font-size : 9pt;
}
#loginDetails td {
	color : white;
	text-align: right;
	font-family: Verdana;
	font-size : 8pt;
}

#loginDetails a {
	color : white;
	text-align: right;
	font-family: Verdana;
	font-size : 8pt;
}