td#input div.wwgrp {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

td#input div.wwctrl {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

td#input div.wwerr {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

div#jsRequired {
	text-align: center;
	margin-bottom: 15px;
}

div.submission {
	padding: 0;
	padding-top: 3em;
	text-align: center;
}

#btnLogin {
	text-align: center;
}
/*
------------------------------------------------------
 Struts 2 - generated
------------------------------------------------------*/
div.errorMessage {
	text-align: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	vertical-align: bottom;
	font-weight: normal;
}

.login_login_domainName {
	position: relative;
	margin-bottom: -15pt;
	height:25px;
}

div.submission {
	text-align: center;
}

/* center login form */

body {
	text-align: center;
}

form#login_login {
    width: 17.5em;
    margin-left: auto;
    margin-right: auto;
}

/* center login form */

/*
------------------------------------------------------
 messages.jsp
------------------------------------------------------*/
div#errorMessages {
	text-align: center;
	margin-bottom: 10px;
}

/*
 * Login form inputs
 */
.inputtext {
	background-color: #FFFFFF;
	height: 23px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #5E6A71;
   	width: 208px;
	padding: 0px
}
/* Nithu Alexander: 13 Oct 2015 Adding class="passwordreveal" for AVA-8.5 bug fix */
.passwordreveal::-ms-reveal {
	display: none;
}