#metadataSearchFields {
    /*border-spacing: 2px 2px;
    border-collapse: separate;*/
}

table#metadataSearchFields td.title {
	background-color: #f5f5f5;
    text-align: center;
    padding: .25em 0;
}

/*label.metadata {
    width: 300px;
    text-align: right;
    text-transform: capitalize;
}*/