.cssSelectTemplateFrame{
	height:400px;
}

.cssContentPane{
   overflow:auto;
}

.cssTemplateListe{
	width:100%; 
	clear:right;
}

div#strutsButtons li.ctrlButtons {
	float: right;
} 

/* START: styles advanced search fieldset */
fieldset {
	margin: 0 10px 0 0;
	padding-bottom: 0px;
}

fieldset * {
	padding: 1px;
}

.calendarContainer, .calendarBodyContainer, .monthContainer {
	margin-bottom: 0px;
}

/*label.advanceSearch {
	width: 300px;
	text-align: right;
	text-transform: capitalize;
}*/

legend#legend {
	color: black;
}

div.dojoSplitContainerSizerH {
	/*border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right:1px solid #999999;
	border-bottom: 1px solid #999999;*/
	border: 1px solid #ffffff;
}

#templateNavigatorPane {
	border: 2px solid #cccccc;
}

#templateListPane {
    border: 2px solid #cccccc;
}

/* remove excess whitespace around form component */
#searchTemplate table.search td div.wwgrp, table.search td div.wwctrl {
	margin-bottom: 0;
}

table.search td div.wwgrp {
    margin-right: 1em;
}

form .fieldLabel, form .fieldInput {
	margin-top: 2px 0;
}

form .fieldLabel {
	background-color: #f5f5f5;
}

form .fieldInput {
    background-color: #f9f9f9;
}

/* remove excess whitespace around form component */
form .fieldSubmit div {
    margin-bottom: 2px;
}

#tableSearch {
	margin: 0;
}


/* END */