.effectiveDateField, .effectiveDateTextLabel, .submitButton, .cancelButton {
	float:left;		
}
		
.effectiveDateTextLabel {
	padding-top: 3px;
}
		
.submitButton, .cancelButton {
	padding-left: 5px;
}
.effectiveDateLabel {				 	
	vertical-align: middle;		 	 	
}
.submitButton{						
	clear: left;						
}

.pageHeader {
	padding-top: 3px;
}
		
* > fieldset {
	border: thin solid #00146A;
	background: #F5F5FF;
	margin-bottom:5px;
}

/* IE */
	fieldset{
	margin-bottom:5px;
}
		
/*********** used to render group labels ***********/
fieldset > legend {
	padding: 3px;
	border: thin solid #00146A;
	background: #F5F5FF;
	color: #000000;    /*rgb( 85, 96, 63 );*/
	margin-top:5px;
	margin-bottom:5px;
}
		
/* IE */
fieldset legend {
	padding: 3px;
	border: thin solid #00146A;
	background: #F5F5FF;
	margin-top:5px;
	margin-bottom:5px;

		
/*********** use to render group labels ***********/
.legend {
	border:thin groove;
	color:#888888;
	text-align:center;
}