.textField, .textLabel {
		float:left;				
}	
.textLabelPaths {
	float: left;
	clear: left;
	padding-bottom: 10px;
}	
.templatePaths {
	background-color: WHITE;
	border-style: solid; 
	border-width: 1px;	
	margin-left: 4px;
	width: 370px;
	text-align: left;		
	float: left;		
	clear:left;
	overflow: scroll;
}

.confirmSubmitAsTemplateButton {
   	height: 25px;
	vertical-align: middle;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #5E6A71;
	width: 120px;
	margin-top: 50px;       	
}