
.dojoTree {
	font: caption;
	font-size: 11px;
	font-weight: normal;
}


.dojoTreeNodeLabelTitle {
	padding-left: 2px;
	color: WindowText;
}

.dojoTreeNodeLabel {
	cursor:hand;
	cursor:pointer;
}

.dojoTreeNodeLabelTitle:hover {
	text-decoration: underline;
}

.dojoTreeNodeLabelSelected {
	background-color: Highlight;
	color: HighlightText;
}

.dojoTree div {
	white-space: nowrap;
}

.dojoTree img, .dojoTreeNodeLabel img {
	vertical-align: middle;
}

