* {
	margin:0;
	padding:0;
	font-family:Georgia, "Times New Roman", Times, sans-serif;
	font-size:11px;
}
html {
	height:100%;
}
#tree_root li {
	padding:5px;
}
#tree_root a {
	background-repeat:no-repeat;
	text-decoration:none;
	padding-left:20px;
	height:20px;
	display:block;
	line-height:20px;
}
#tree_root a.expandable {
	background-image:url(../images/plus.png);
}
#tree_root a.expanded {
	background-image:url(../images/minus.jpg);
}
