/*
 * CSS specific to workItemList.jsp
 */

select#worklist {
	background-color: #FFFFFF;
	height: 23px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #5E6A71;
   	width: 235px;
	padding: 0px
}

input.vistaButton-2 { width: 170px; }

input.actionButton, button.actionButton {
	width: 124px;
}

#workItemActions div {
    display: inline;
}

#workItemActions table {
	border-collapse:collapse;
}

div#deliveryToolTip {
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 12px;
    z-index: 1;
    border: 1px solid #ffff66;
    background: #ffffcc;
    color: #cc0033;
    padding: 3px;
    display: none;
}

form#workItemForm table#workItems {min-width: 1000px;
                                   width: expression(document.body.clientWidth < 1001 ? "1000px": "auto" );
								  }

form#workItemForm table#workItems th.wi_ctrl { width: 5px; }

form#workItemForm table#workItems th.wi_client { width:23%; }

form#workItemForm table#workItems th.wi_template_with_owner { width: 20%; }

form#workItemForm table#workItems th.wi_owner { width: 13%; }

form#workItemForm table#workItems th.wi_template { width: 27%; }

form#workItemForm table#workItems th.wi_dateModified { width: 13%; }

form#workItemForm table#workItems th.wi_status { width: 13%; }

form#workItemForm table#workItems th.wi_desc { width:22%; }

div.errorMessage {
	text-align: left;
	margin: 0 0 5px 0;
	font-size: 13px;
	vertical-align: bottom;
	font-weight: normal;
}