div#workItemDialog div#descriptionInput,
div#workItemDialog div#reassignInput,
div#workItemDialog div#commentsInput { text-align:left }

div#workItemDialog div#commentsInput label { padding-left: 0px; }

div#workItemDialog div#confirmButtons input { width: 75px; }

.commentDialogContent {
    background-color: #f8f8f8;
    border: 2px solid #e8e8e8;
    border-top: none;
    font-weight: bold;
    padding: 8px;
    width: 270px;
}

div#confirmButtons .vistaButton-2 { 
    text-align: center;
}

div#workItemDialogInputs textarea {
    font-weight: normal;
    margin: 8px 0 8px 0;
	width: 265px;
}